<header>
    <div id="header">
        <h1> <a href="/views/Home.ejs"> <img id="logo" src="/images/Logo2.png" title="Made with Looka - https://looka.com/editor/211418752" alt="Furever Home Logo" width=50></a>
            Furever Home - <%= title %>
        </h1>
        <p id="date"></p>
        <script src = "/scripts/DateAndTime.js"></script>
    </div>
</header>