<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Furever Home - Cat Care </title>
        <link rel="stylesheet" href="/css/AdoptionAgency.css">
        <style>
            ol > li{
                list-style-type: disc;
            }
        </style>
    </head>
    <body>

        <%- include('partials/header.ejs'); %>

        <div class="container">
            <div id="side-menu">
                <%- include('partials/sidemenu.ejs'); %>
            </div>

            <div id="content">
                <b>Tips and tricks for dog owners</b>
                <p> 
                    You might be wondering, "How do I take care of a cat?" Whether you're a first-time pet owner or planning to adopt a new feline companion, this page has everything you need to know. 
                    Plus, you'll find useful links to trusted sources for more information. 
                    Note that the tips provided are from the sites linked below.
                </p>
                Tips:
                <ol id="dogCareTips">
                    <li>Make time for your cat</li>
                    <li>Give them lots of attention</li>
                    <li>Groom your cat reguarly</li>
                    <li>Visit the vet routinely</li>
                    <li>Get your cat vaccinated</li>
                    <li>Get your cat a litter box and clean reguarly</li>
                    <li>Cut your cats nails regularly to avoid scratches</li>
                    <li>Get your cat a scartching post</li>
                    <li>Maintain a healthy diet</li>
                    <li>Provide fresh water</li>
                    <li>Provide a safe environment</li>
                </ol>
                
                <p>
                    From more information visit: <br>
                    <abbr title="PetSafe - https://www.petsafe.com/blog/cats-101-basic-health-care-tips-to-keep-your-cat-healthy/">
                    <a href="https://www.petsafe.com/blog/cats-101-basic-health-care-tips-to-keep-your-cat-healthy/">Cats 101: Basic Health & Care Tips to Keep Your Cat Healthy</a></abbr>
                    <br>
                    <abbr title="ASPCA - https://www.aspca.org/pet-care/cat-care/general-cat-care">
                    <a href="https://www.aspca.org/pet-care/cat-care/general-cat-care">General Cat Care</a></abbr>
                    <br>
                    <abbr title="DailyPaws - https://www.dailypaws.com/cats-kittens/health-care/ways-to-keep-your-cat-healthy">
                    <a href="https://www.dailypaws.com/cats-kittens/health-care/ways-to-keep-your-cat-healthy">10 Ways to Keep Your Cat Healthy, According to a Vet</a></abbr>
                </p>
            </div>
        </div>
        
        <%- include('partials/footer.ejs'); %>

    </body>
</html>
