<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Furever Home - Contact Us </title>
        <link rel="stylesheet" href="/css/AdoptionAgency.css">
    </head>
    <body>

        <%- include('partials/header.ejs'); %>

        <div class="container">
            <div id="side-menu">
                <%- include('partials/sidemenu.ejs'); %>
            </div>

            <div id="content">
                <p>
                    Owner's Name: Ethan Elkaim <br>
                    Student ID: 40311428 <br>
                    Email: e_elkaim@live.conordia.ca
                </p>
            </div>
        </div>
        
        <%- include('partials/footer.ejs'); %>

    </body>
</html>
