<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Furever Home - Privacy/Disclaimer Statement </title>
        <link rel="stylesheet" href="/css/AdoptionAgency.css">
    </head>
    <body>
        
        <%- include('partials/header.ejs'); %>

        <div class="container">
            <div id="side-menu">
                <%- include('partials/sidemenu.ejs'); %>
            </div>

            <div id="content">
                <p> 
                    At Furever Home, we value your privacy. Any personal information you provide will be kept confidential and will not be sold, shared, 
                    or misused. While we strive to provide accurate and up-to-date information about our adoptable pets, <b>we cannot guarantee the accuracy 
                    of details submitted by pet owners or third parties. </b> Furever Home is not responsible for any incorrect information, misrepresentations, 
                    or issues arising from pet adoptions. By using our website, you acknowledge and accept these terms.
                </p>
            </div>
        </div>
        
        <%- include('partials/footer.ejs'); %>

    </body>
</html>
