<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Furever Home - Have a pet to give away </title>
        <link rel="stylesheet" href="/css/AdoptionAgency.css">
        <style>
            #additional-info{
                width: 90%;
                height: 100px;
                padding: 10px;
            }
        </style>
        <script src="/scripts/giveawaypet.js"></script>
    </head>
    <body>
        
        <%- include('partials/header.ejs'); %>

        <div class="container">
            <div id="side-menu">
                <ul id="side-menu-list">
                    <%- include('partials/sidemenu.ejs'); %>
                </ul>
            </div>

            <div id="content">
                <form action="/SubmitGiveAwayPet" method="post" onsubmit="validateForm(event)">
                    <fieldset>
                        <legend> About your pet </legend>
                        <label> What is your pet's name: 
                            <input type="text" id="petName" name="petName"> 
                        </label> <br>
                        <label for="dog"> Is your pet a dog or cat?
                            <input type="radio" id="dog" name="petType" value="dog"> Dog
                        </label>
                        <label for="cat">
                            <input type="radio" id="cat" name="petType" value="cat"> Cat
                        </label> <br>
                        <label for="pureBreed"> What is the breed of your pet? <br>
                            <input type="radio" id="pureBreed" name="breed" value="pure"> Pure Breed
                        </label> <br>
                        <label for="pureName"> Specify:
                            <input type="text" id="pureName" name="pureBreed">
                        </label> <br>
                        <label for="mixedBreed">
                            <input type="radio" id="mixedBreed" name="breed" value="mixed"> Mixed
                        </label> <br>
                        <label for="mixName"> Specify the mix:
                            <input type="text" id="mixName" name="mixedBreed">
                        </label> <br>
                        <label for="age"> Age:
                            <select id="age" name="age"> 
                                <option value="">Select an age</option>
                                <option value="0">0 (Puppy/Kitten)</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15+</option>
                            </select>
                        </label> <br>
                        <label for="pet-male"> Gender: 
                            <input type="radio" id="pet-male" name="gender" value="male"> Male
                        </label>
                        <label for="pet-female">
                            <input type="radio" id="pet-female" name="gender" value="female"> Female
                        </label> <br>
                        <label for="otherDogs"> Does your pet get along with: (check all that apply)
                            <input type="checkbox" id="other-dogs" name="getAlong" value="otherDogs"> Other dogs
                        </label>
                        <label for="otherCats">
                            <input type="checkbox" id="other-cats" name="getAlong" value="otherCats"> Other cats
                        </label>
                        <label for="smallKids">
                            <input type="checkbox" id="small-kids" name="getAlong" value="smallKids"> Small kids
                        </label>
                        <label for="none">
                            <input type="checkbox" id="none" name="none" value="none"> None
                        </label> <br>
                        <label for="additionalInfo"> Enter any additional information about your pet you would like us to know <br>
                            <textarea name="additionalInfo" id="additionalInfo" rows="5" cols="40"></textarea>
                        </label>
                    </fieldset>
                    <fieldset>
                        <legend>Personal Information</legend>
                        <label for="firstName"> First Name:
                            <input type="text" id="firstName" name="firstName">
                        </label> <br>
                        <label for="lastName"> Last Name:
                            <input type="text" id="lastName" name="lastName"> 
                        </label> <br>
                        <label for="email"> Email:
                            <input type="text" id="email" name="email">
                        </label>
                    </fieldset>
                    <label> <br>
                        <input type="submit" value="Submit">
                    </label>
                    <label>
                        <input type="reset" value="Clear">
                    </label>
                </form>
            </div>
        </div>
        
        <%- include('partials/footer.ejs'); %>

    </body>
</html>
