<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Furever Home - Home </title>
        <link rel="stylesheet" href="/css/AdoptionAgency.css">
    </head>
    <body>

        <%- include('partials/header.ejs'); %>

        <div class="container">
            <div id="side-menu">
                <%- include('partials/sidemenu.ejs'); %>
            </div>
            
            <div class="subcontainer">
            <figure>
                <div id="image">
                    <img id="dog-cat" src="/images/dog.png" alt="picture of dog and cat" width=800>
                </div>
                <figcaption>Image from <a href="https://www.rawpixel.com/search/dog%20cat?page=1&path=_topics&sort=curated">Rawpixel</a> </figcaption>
            </figure>
            
            <div id="content">
                <p>
                    Welcome to the <b> Furever Home Adoption Agency </b> Website! 
                    We can help you find the perfect dog or cat for you whether your looking for a playful puppy or a cuddly cat we got it.
                </p>
                <p>
                    Our mission is to find the perfect home for all dogs and cats in our care.
                    We also rescue dogs and cats in need and find them loving homes.
                </p>
                
                <p>
                    <b> Why choose us for you adoptive needs?</b><br>
                </p>
                <ol id="why-us">
                    <li> Rescue and Rehome: We rescue pets in need and find them loving homes </li>
                    <li> Health & Care: We make sure that all pets at our facillity have all necessary vaccines and receive full check ups before adoption </li>
                    <li> Support & Guidance: We help new owners learn how to train and bond with their new pet </li>
                </ol>
                
                <p>
                    <b> Adoption Process </b>
                </p>
                <ol>
                    <li> Browse our pet collection or come visit us at any of our locations </li>
                    <li> Submit an adoption application </li>
                    <li> Meet your new furry friend </li>
                    <li> Take them home with you and give them the love and attention they deserve </li>
                </ol>
                <p>
                    <b> Ready to adopt? </b> <br>
                    &#128205; Come visit us at any of our locations and meet all your next furry best friend! <br> 
                    &#128222; Contact us for more information.
                </p>
            </div>
            </div>
        </div>

        <%- include('partials/footer.ejs'); %>

    </body>
</html>
