.pet-list {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin: 20px;
}

.pet-card {
    background-color: bisque;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px;
    width: 250px;
    text-align: center;
}

.pet-card img {
    border-radius: 100px;
    height: 125px;
}

button {
    background-color: green;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

button:hover {
    background-color: darkgreen;
}